*{
    box-sizing: border-box;
}

body{
    margin: 0
}

.header{
    height: 90px;
    background-color: #DE4545;
}

.home-section{
    height: 80vh;
    background-color: 
    #5FE0C9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-section__title{
    
}